
.contacto{
    display: flex;
    text-transform: uppercase;
    border: 1px solid grey;
    flex-direction: column;
    font-size: bold;
    justify-content: center;
    width: auto;
    align-items: center
}